@import "../style/input_field.css";
@import "../layout/logo.css";
@import "../style/button.css";
@import "../style/global.css";
@import "../style/theme.css";
@import "../style/settings_option.css";
@import "../style/font.css";

.logo {
    padding: 2rem;
}

body {
    padding: 0;
    margin: 0;
    background: url("https://cdn.dribbble.com/users/1803663/screenshots/14762933/media/d22e6a9bb1e4ec8963842cff3907e8be.jpg") no-repeat fixed;
    background-size: 100vw 100vh;
    box-sizing: border-box;
    height: 100vh;
}

#upper-bar {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.options {
    position: absolute;
    display: grid;
    row-gap: 10px;
    grid-column: 1;
}

#appearance, #general, #topics {
    height: 18px;
    position: relative;
    padding: 4px;
    border: solid;
    border-color: var(--post-background);
}

.user-profile {
    display: grid;
    column-gap: 1rem;
    background-color: var(--post-background);
    border-radius: var(--post-border-radius);
    justify-self: center;
    width: 500px;
    padding: 2rem;
}

#logo {
    padding: 2rem;
}

.user-info {
    justify-self: right;
    padding: 2rem;
}

#middle-bar {
    display: grid;
    justify-content: center;
    min-height: 400px;
}

#default-user {
    height: 180px;
    border-radius: 10%;
}

#profile-component {
    grid-column: 2;
    display: flex;
    flex-flow: column;
    justify-self: center;
}

@media (max-width: 600px) {
    .user-profile {
        width: 70vw;
    }
}
