@import "../style/input_field.css";
@import "../layout/logo.css";
@import "../style/button.css";
@import "../style/global.css";
@import "../style/theme.css";
@import "../style/settings_option.css";
@import "../style/font.css";
@import "../style/footer.css";

body {
    padding: 0;
    margin: 0;
    background-size: 100vw 100vh;
    box-sizing: border-box;
    height: 100vh;
}

.root-layout {
    min-height: calc(100vh - 225px);
}

#upper-bar {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.logo {
    padding: 2rem;
}

.options {
    display: flex;
    flex-flow: column;
    row-gap: 10px;
    grid-column: 1;
}

#appearance, #general, #topics {
    height: 18px;
    position: relative;
    padding: 4px;
    border: solid;
    border-color: var(--post-background);
}

.user-profile {
    display: grid;
    grid-template-columns:  1fr 2fr;
    column-gap: 1rem;
    background-color: var(--post-background);
    border-radius: var(--post-border-radius);
    justify-self: center;
    width: 500px;
    padding: 2rem;
}


.user-info {
    justify-self: right;
    padding: 2rem;
}

#middle-bar {
    display: grid;
    justify-content: center;
    min-height: 400px;
}

#user-picture {
    height: 150px;
    border-radius: 10%;
    justify-self: center;
}

#profile-component {
    grid-column: 2;
    justify-content: center;
    box-sizing: border-box;
}

#appearance-option, #topics-option, #general-option {
    display: none;
}

.user-preferences {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0 16px 0;
}

.user-preferences > div {
    background: #FF4A00;
    border: black;
    flex: 1 1 auto;
    margin: 8px;
    text-align: center;
    max-width: fit-content;
    padding: 8px;
    border-radius: 25px;
    font-size: 12px;
}

.user-preferences > div > button {
    background: #e04201;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 55px;
    margin-bottom: 2px;
    justify-self: center;
    outline: none;
}

.user-preferences > div > button:active {
    background: #00000040;
}

@media (max-width: 600px) {
    .user-profile {
        width: 70vw;
        grid-template-columns: 0;
        grid-template-rows: 1fr 2fr;
        row-gap: 10px;
    }

    .options {
        row-gap: 10px;
        grid-row: 1;
        column-gap: 0;
    }

    #profile-component {
        row-gap: 10px;
        grid-row: 2;
        column-gap: 0;
        justify-content: center;
    }

}
