@import "../style/input_field.css";

body {
  padding: 0;
  margin: 0;
}

.root-layout {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing:border-box;
  height: 100vh;
}

.left-side {
  grid-column: 1 / 2;
  grid-row: 1;
  padding: 2rem;
  background: url("https://cdn.dribbble.com/users/1803663/screenshots/14762933/media/d22e6a9bb1e4ec8963842cff3907e8be.jpg") no-repeat;
  background-size:auto 100%;
}

.right-side {
  display: grid;
  grid-template-rows: 72px 1fr;
  grid-column: 2 / 3;
  grid-row: 1;
  padding: 2rem;
}

.auth-info {
  justify-self: right;
}

.auth-component {
  grid-row: 2 / 3;
  grid-column: 1;
  width: 560px;
  height: fit-content;
  padding: 2rem;
  justify-self: center;
  background-color: var(--layout-background);
  border-radius: var(--post-border-radius);
}

.authentication-inputs {
  padding: 1.5rem;
}

.two-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

@media (max-width: 960px) {
  .right-side {
    grid-column: 1 / 3;
  }

  .left-side {
    display: none;
  }

  .auth-component {
    width: 90%;
  }

  .two-inputs {
    display: flex;
    flex-direction: column;
  }
}
