@import "../style/input_field.css";
@import "logo.css";
@import "../style/button.css";
@import "../style/global.css";
@import "../style/theme.css";

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background-size: 100vw 100vh;
}

#header {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.component > div {
    display: grid;
    justify-content: center;
}

.logo {
    padding: 2rem;
}

.input-field {
    text-align: center;
    width: auto;
}

#middle-bar {
    display: grid;
    justify-content: center;
}

.component {
    background-color: var(--layout-background);
    border-radius: var(--post-border-radius);
    justify-items: center;
    width: 500px;
    padding: 2rem;
}

div > h1 {
    text-align: center;
    width: auto;
}

div > p {
    text-align: left;
}

@media (max-width: 600px) {
    .component {
        width: 70vw;
    }
}
