@import "../style/subreddit-container.css";
@import "../style/position.css";
@import "../style/global.css";
@import "logo.css";
@import "top_bar.css";
@import "../style/footer.css";

.root-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--topbar-height) 1fr;
    min-height: calc(100vh - var(--footer-height));
    box-sizing: border-box;
}

.top-bar-component {
    grid-row: 1;
    grid-column: 1;
    padding: 2rem;
    background-color: var(--header-color);
}

.page-body {
    display: flex;
    grid-row: 2;
    padding: 2rem;
    justify-content: center;
}

.documentation-component {
    width: 1080px;
    padding: 4rem 2rem 1rem 2rem;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: var(--color-03-dp);

    margin: auto;
    line-height: 1.6;
}

/* Documentation style */
ul {
    list-style: none;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul li {
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: var(--color-04-dp);
    box-sizing: border-box;
}

ul > li > ul > li {
    background-color: var(--color-06-dp);
}

li > ul > li > ul {
    list-style: initial;
    padding: 0 0 0 1.5rem;
    display: flex;
    gap: 0;
}

li > ul > li > ul > li {
    padding: 0 0 0.5rem 0.5rem;
    line-height: 16px;
}

@media (max-width: 1200px) {
    .documentation-component {
        width: 100%;
        padding: 1rem;
    }

    .page-body {
        padding: 1rem;
    }

    ul li {
        padding: 0.5rem 1rem;
    }
}





