<!DOCTYPE html>
<html lang="en" class="colors theme-dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <meta name="description" content="ReDat is a web app that helps you keep track of your favourites topics from reddit.">
    <link rel="icon" href="/static/assets/favico.svg"/>
    <title>Home</title>
    <link rel="stylesheet" href="/static/style/layout/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="root-layout">

    {top_bar}

    <div class="information-component">
        <div class="information-component-content">
            Welcome to admin page. Here you can remove or add roles to users.
        </div>
    </div>

    <div class="user-panel">
        <div class="admin-sections">
            <a href="/admin_users" class="selected">Users</a>
            <a href="/admin_topics">Topics</a>
        </div>

        <div class="admin-panel">
            <div class="input-component button-input">
                <div>
                    <input type="search" name="search" id="input-search-users" class="input-field" minlength="1" placeholder="Search User">
                </div>
                <div>
                    <button class="button primary">Search</button>
                </div>
            </div>

            <div class="admin-user-list">
                <div class="user-item">
                    <div>Username</div>
                    <div class="flex-right"></div>
                    <div><button class="button primary" disabled>Make Admin</button></div>
                    <div><button class="button primary">Remove</button></div>
                </div>
            </div>

        </div>

    </div>

</div>

{footer}

<script src="/static/js/util/toggle_theme.js"></script>
<script type="module" src="/static/js/top_bar_collapse.js"></script>
<script type="module" src="/static/js/index.js"></script>
<script src="/static/js/util/download_file.js"></script>
<script src="https://kit.fontawesome.com/921ba4621c.js" crossorigin="anonymous"></script>
</body>
</html>
