<footer class="footer">
    <div class="footer-about">

        <div></div>

        <div>
            <h3 class="dev-title">Developers</h3>
            <div class="dev-content">
                <div>
                    <b>Stamate Valentin</b>
                    <div>
                        <a class="fab fa-github" href="https://github.com/StamateValentin" target="_blank"></a>
                        <a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/valentin-stamate/" target="_blank"></a>
                        <a class="fab fa-facebook" href="https://www.facebook.com/stamatevalentin125/" target="_blank"></a>
                    </div>
                </div>

                <div>
                    <b>Mihai Laurentiu</b>
                    <div>
                        <a class="fab fa-github" href="https://github.com/LaurentiuMihai112" target="_blank"></a>
                        <a class="fab fa-facebook" href="https://www.facebook.com/laurentiu.mihai.112" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer-short-info">
        <b>© 2021 Copyright: ReDat</b>
    </div>

</footer>