<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Ghid de utilizare</title>

    <link rel="stylesheet" href="https://w3c.github.io/scholarly-html/css/scholarly.min.css">
    <script src="https://w3c.github.io/scholarly-html/js/scholarly.min.js"></script>
</head>
<body>
<header>
    <div class="banner">
        <img style="width: 100%" src="/static/assets/scholarly-html.svg" width="227" height="50" alt="Scholarly HTML logo">
    </div>
    <h1>Ghid de utilizare</h1>
</header>

<div role="contentinfo">
    <dl>
        <dt>Authors</dt>
        <dd>
            <a href="https://github.com/LaurentiuMihai112" target="_blank">Mihai Cristian-Laurentiu</a>,
            <a href="https://github.com/StamateValentin" target="_blank">Stamate Valentin</a>
        </dd>
    </dl>
</div>

<section id="about">
    <h2>Despre</h2>
    <p>
        La momentul crearii contului veti fi redirectionat catre o pagina in care veti putea alege topicele preferate.
        Ele vor fi disponibile sub forma de lista iar topicele salvate se vor schimba in timp real. Dupa ce ati selectat
        toate topicele, puteti incepe navigarea apasand butonul de "Start Exploring".
    </p>
    <p>
        Initial pe pagina principala se vor incarca in timp real statisticile aferente alegerii de mai devreme. Aceste
        statistici se vor actualiza in timp real. La fiecare statistica vor fi disponibile: numarul de comentarii, trei
        tipuri de vizualizare/statistici, top 10 postari si butoane pentru descarcarea statisticilor in formate precum svg si csv si un
        buton cu care puteti naviga catre subredditul respectiv. De asemenea va fi disponibil un clopotel care 'se va activa'
        in momentul in care apar noi comentarii in acel subreddit. Notificarea va fi marcata ca citita atunci cand este
        apasat butonul 'Open'.
    </p>
    <p>
        Pentru: modificarea datelor, aspectul aplicatiei(Dark vs Light) si topicele alese puteti naviga pe pagina 'Settings'.
    </p>
</section>

<section id="movie">
    <h2>Clip Demonstrativ</h2>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/jqrygCUL-Ag"></iframe>
</section>

</body>
</html>
