<!DOCTYPE html>
<html lang="en" class="colors theme-dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <meta name="description" content="ReDat is a web app that helps you keep track of your favourites topics from reddit.">
    <link rel="icon" href="/static/assets/favico.svg"/>
    <title>Home</title>
    <link rel="stylesheet" href="/static/style/layout/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="root-layout">

    {top_bar}

    <div class="information-component">
        <div class="information-component-content">
            Here you can see many subreddit stats based on you preferences. You have up to three types of statistics
            and you can also download them locally. In order to add more topics go to user profile.
        </div>
    </div>

    <div class="subreddits-component">
        <div class="subreddits-wrapper">
            <div class="subreddits-wrapper-top">
                <div class="title-1"><b>General Statistic</b></div>
            </div>
            <div class="subreddits-wrapper-list">
                <div class="subreddits-container">
                    <div class="subreddits-container-top">
                        <div class="subreddits-container-name"><b>General</b></div>
                    </div>

                    <div class="subreddits-container-statistics">

                    </div>
                </div>
            </div>

            <div class="subreddits-wrapper-top">
                <div class="title-1"><b>Top Subreddits</b></div>
            </div>

            <div class="subreddits-wrapper-list">

            </div>

        </div>
    </div>
</div>

{footer}

<script src="/static/js/util/toggle_theme.js"></script>
<script type="module" src="/static/js/top_bar_collapse.js"></script>
<script type="module" src="/static/js/index.js"></script>
<script src="/static/js/util/download_file.js"></script>
<script src="https://kit.fontawesome.com/921ba4621c.js" crossorigin="anonymous"></script>
</body>
</html>
