<!DOCTYPE html>
<html lang="en" class="colors theme-dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <meta name="description" content="Login and explore the most popular Reddit subreddits.">
    <link rel="icon" href="/static/assets/favico.svg"/>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style/style/global.css">
    <link rel="stylesheet" href="/static/style/layout/logo.css">
    <link rel="stylesheet" href="/static/style/layout/authentication.css" >
</head>
<body>
    <div class="root-layout">

        <div class="left-side">
            <img class="logo" src="/static/resources/logo.svg" alt="logo">
        </div>

        <div class="right-side">

            <div class="auth-info">Don't have an account, <a href="/register">Register</a> instead.</div>

           <div class="auth-component">
               <div class="title-1">Login</div>

               <br>

               <form class="authentication-inputs" id="login-form">

                   <div class="input-component">
                        <label for="username" class="input-label">Username</label>
                        <input type="text" name="username" id="username" class="input-field" minlength="8" required>
                   </div>

                   <div class="input-component">
                       <label for="password" class="input-label">Password</label>
                       <input type="password" name="password" id="password" class="input-field" minlength="8" required>
                   </div>

                   <br>

                   <button class="button button-large primary">Login</button>

                   <div class="error-text" id="error-text"></div>

               </form>

           </div>

        </div>

    </div>

    <script src="/static/js/util/toggle_theme.js"></script>
    <script type="module" src="/static/js/login.js"></script>

</body>
</html>
