<div class="top-bar-component">

    <div class="top-bar">
        <!-- Normal TopBar -->
        <div class="top-bar-navigation">
            <img class="logo" src="/static/resources/logo.svg" alt="logo" style="margin-left: -2px">
            <div><a href="/home"><b>Home</b></a></div>
            <div><a href="/profile"><b>Settings</b></a></div>
            <div><a href="/doc"><b>Documentation</b></a></div>
            <div class="flex-right"></div>
            <div>Welcome <b>{username}</b></div>
            <a href="/login"><b style="margin-right: 32px">Logout</b></a>
        </div>

        <!-- Collapsed TopBar -->
        <div class="top-bar-collapse">
            <img class="logo" src="/static/resources/logo.svg" alt="logo" style="margin-left: -2px">
            <div class="flex-right"></div>
            <span id="top-bar-collapse-icon" class="material-icons" style="color: var(--font-color)">menu</span>
        </div>

        <div id="top-bar-collapse-content" class="top-bar-collapse-content">
            <div><a href="/home"><b>Home</b></a></div>
            <div><a href="/profile"><b>Settings</b></a></div>
            <div><a href="/doc"><b>Documentation</b></a></div>
            <div><a href="/login"><b style="margin-right: 32px">Logout</b></a></div>
            <div></div>
        </div>
    </div>

</div>