<!DOCTYPE html>
<html lang="en" class="colors theme-dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topics of Interest</title>
    <link rel="icon" href="static/assets/favico.svg"/>
    <link rel="stylesheet" href=static/style/layout/topics_of_interest.css>
</head>

<body>
<header id="header">
    <div class="logo"><img src="static/resources/logo.svg" alt="Logo"></div>
    <div class="user-info">Welcome, <a href="#">username</a>!</div>
</header>


<div id="middle-bar">
    <div class="preferences-component">
        <h1>Topics of interest</h1>
        <div>
            <input class="input-field" type="text" placeholder="Search...">
            <div class="user-preferences">
                <div>
                    <button>x</button>
                    Anime
                </div>
                <div>
                    <button>x</button>
                    Funny
                </div>
                <div>
                    <button>x</button>
                    Genshin Impact
                </div>
                <div>
                    <button>x</button>
                    IT
                </div>
                <div>
                    <button>x</button>
                    Movies
                </div>
                <div>
                    <button>x</button>
                    Music
                </div>
                <div>
                    <button>x</button>
                    War
                </div>
            </div>
        </div>
        <button type="submit" class="button button-large primary">Start exploring</button>
    </div>
</div>

<script src="static/js/toggle_theme.js"></script>
</body>
</html>
