<!DOCTYPE html>
<html lang="en" class="colors theme-dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <title>My profile</title>
    <link rel="icon" href="static/assets/favico.svg"/>
    <link rel="stylesheet" href=static/style/layout/user_profile.css>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="root-layout">

    {top_bar}

    <div id="middle-bar">
        <div class="user-profile">
            <div class="options">
                <label id="general">General</label>
                <label id="topics">Topics</label>
                <label id="appearance">Appearance</label>
            </div>
            <div id="profile-component">
                <div id="current-settings-menu">
                </div>
                <div id="general-option">
                    <img id="user-picture" src="static/resources/user.jpg" alt="default user">
                    <p>username</p>
                    <p>adress@email.com</p>
                </div>
                <div id="appearance-option">
                    <button id="btn-toggle-theme" class="button primary">Toggle Theme</button>
                </div>
                <div id="topics-option">
                    <div class="user-preferences">
                        <div>
                            <button>x</button>
                            Anime
                        </div>
                        <div>
                            <button>x</button>
                            Funny
                        </div>
                        <div>
                            <button>x</button>
                            Genshin Impact
                        </div>
                        <div>
                            <button>x</button>
                            IT
                        </div>
                        <div>
                            <button>x</button>
                            Movies
                        </div>
                        <div>
                            <button>x</button>
                            Music
                        </div>
                        <div>
                            <button>x</button>
                            War
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{footer}

<script src="static/js/util/toggle_theme.js"></script>
<script src="static/js/settings_options.js"></script>
<script src="static/js/top_bar_collapse.js"></script>
<script src="https://kit.fontawesome.com/921ba4621c.js" crossorigin="anonymous"></script>
</body>
</html>
