
.button-primary {
    background-color: var(--color-primary);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    margin: 8px 4px;
    cursor: pointer;
    border-radius: var(--button-margin-radius);
    transition: background-color ease-in-out 0.3s;
}

.button-primary:hover {
    background-color: var(--color-primary-selected);
}

.button-primary:focus {
    outline: none;
}


.icon-button-primary {
    background-color: var(--color-primary);
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    margin: 8px 4px;
    cursor: pointer;
    border-radius: var(--button-margin-radius);
    transition: background-color ease-in-out 0.3s;
}

.icon-button-primary:hover {
    background-color: var(--color-primary-selected);
}

.icon-button-primary:focus {
    outline: none;
}
