.chip {
    background-color: var(--color-primary);
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 16px;
    transition: background-color ease-in-out 0.3s;
}

.chip:hover {
    background-color: var(--color-primary-selected);
}

.chip:focus {
    outline: none;
}
