@import "theme.css";

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

a {
    font-weight: bold;
    color: var(--font-color);
    text-decoration: none;
}

