/* Attributes that a button have */
.button, .icon-button{
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    margin: 8px 4px;
    padding: 12px;
    cursor: pointer;
    border-radius: var(--button-margin-radius);
    transition: background-color ease-in-out 0.3s;
}

.button:focus, .icon-button:focus {
    outline: none;
}

/* Small Button */
.button-small {
    padding: 6px;
}

/* Large Button */
.button-large {
    padding: 15px 32px;
    font-size: 1rem;
}

/* Icon Button */
.icon-button {
    padding: 5px 4px;
    font-size: 0.5rem;
}

/* Button Types */
.primary {
    background-color: var(--color-primary);
}

.primary:hover {
    background-color: var(--color-primary-selected);
}
