@import "theme.css";
@import "button.css";
@import "font.css";

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    padding: 0;
    margin: 0;
    user-select: none;
}

a {
    font-weight: bold;
    color: var(--font-color);
    text-decoration: none;
}

img {
    max-width: 100%;
}

#user-picture {
    height: 150px;
    border-radius: 8px;
    justify-self: center;
}

.rounded {
    border-radius: 8px;
    overflow: hidden;
}

.error-text {
    color: #f23a3a;
    font-weight: bold;
    font-size: 14px;
    margin: 16px 16px 16px 0;
}

button[disabled]{
    background-color: var(--color-primary-disabled);
    cursor: default;
}

button[disabled]:hover{
    background-color: var(--color-primary-disabled);
    cursor: default;
}
