:root {
    color-scheme: light dark;
    --post-border-radius: 8px;
    --button-margin-radius: 6px;
    --topbar-height: 256px;
    --footer-height: 240px;
}

.colors {
    --dark: #070707;
    --dark-00-dp: #121212;
    --dark-01-dp: #1E1E1E;
    --dark-02-dp: #232323;
    --dark-03-dp: #252525;
    --dark-04-dp: #272727;
    --dark-06-dp: #2C2C2C;
    --dark-08-dp: #2E2E2E;
    --dark-12-dp: #333333;
    --dark-16-dp: #363636;
    --dark-24-dp: #383838;

    --white-00-dp: #fffff;
    --white-01-dp: #fafafa;
    --white-02-dp: #f5f5f5;
    --white-03-dp: #eeeeee;
    --white-04-dp: #e0e0e0;
    --white-06-dp: #bdbdbd;
    --white-08-dp: #9e9e9e;
    --white-12-dp: #757575;
    --white-16-dp: #616161;
    --white-24-dp: #424242;

}

.theme-light {
    /* COLORS */
    --color-00-dp: var(--white-00-dp);
    --color-01-dp: var(--white-01-dp);
    --color-02-dp: var(--white-02-dp);
    --color-03-dp: var(--white-03-dp);
    --color-04-dp: var(--white-04-dp);
    --color-06-dp: var(--white-06-dp);
    --color-08-dp: var(--white-08-dp);
    --color-12-dp: var(--white-12-dp);
    --color-16-dp: var(--white-16-dp);
    --color-24-dp: var(--white-24-dp);

    --color-primary: #FF4500;
    --color-primary-selected: #dd4001;

    /* Layout */
    --background-color: #fff;
    --layout-background: #e7e7e7;
    --statistics-background-color: #ffffff;
    --header-color: #242424;
    --top-bar-color: #ffffff;

    /* Font */

    --font-color: #3e3e3e;
    --topbar-font-color: #0a0a0a;

    /* Input Field */
    --input-field: 1px solid #d0d0d0;
    --input-field-selected: 1px solid #bfbfbf;
    --input-field-label-color: #646464;
    --input-field-background-color: #ffffff;
    --input-field-background-color-selected: #f3f3f3;

}

.theme-dark {
    /* COLORS */
    --color-00-dp: var(--dark-00-dp);
    --color-01-dp: var(--dark-01-dp);
    --color-02-dp: var(--dark-02-dp);
    --color-03-dp: var(--dark-04-dp);
    --color-04-dp: var(--dark-06-dp);
    --color-06-dp: var(--dark-12-dp);
    --color-08-dp: var(--dark-16-dp);
    --color-12-dp: var(--dark-24-dp);

    --color-primary: #FF4500;
    --color-primary-selected: #dd4001;

    /* Layout */
    --background-color: var(--dark-00-dp);
    --layout-background: var(--dark-02-dp);
    --statistics-background-color: var(--dark-00-dp);
    --header-color: var(--dark);
    --top-bar-color: var(--dark-01-dp);
    --subbreddits-details: var(--dark-01-dp);

    /* Font */
    --font-color: #D2D5D7;
    --topbar-font-color: #323232;

    /* Input Field */
    --input-field: 1px solid #515151;
    --input-field-selected: 1px solid #3e3e3e;
    --input-field-label-color: #b7b7b7;
    --input-field-background-color: #232324;
    --input-field-background-color-selected: #1f1e1e;
}

