.all-topics-container {
    max-height: 318px;
    overflow: auto;
}

.user-preferences > div {
    background: #FF4A00;
    flex: 1 1 auto;
    margin: 8px;
    text-align: center;
    max-width: fit-content;
    padding: 8px 14px 8px 8px;
    border-radius: 25px;
    font-size: 12px;
}

.user-preferences > div > button {
    background: #e04201;
    border: none;
    color: white;
    border-radius: 55px;
    padding-bottom: 3px;
    margin-right: 6px;
}

.user-preferences > div > button:hover {
    background: #c63a00;
}

.user-preferences > div > button:active {
    background: #00000040;
}

.topic-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: var(--color-00-dp);
    padding: 2px 4px 2px 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    transition: all ease-in 0.2s;
}

.topic-list-item:hover {
    background-color: var(--color-01-dp);
}