.all-topics-container {
    max-height: 318px;
    overflow: auto;
}

.topic-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: var(--color-00-dp);
    padding: 2px 4px 2px 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    transition: all ease-in 0.2s;
}

.topic-list-item:hover {
    background-color: var(--color-01-dp);
}